@import '../../styles/media-queries';
@import '../../styles/global';


.featureditem{
  max-width:600px;
  margin-bottom:50px;
}

.featureditem-name{
  margin-bottom:10px;
}
p{
  font-size:0.9rem;
  margin-bottom:20px;
}