$primary: #03afff;
$secondary: #0085c2;
$tertiary: #ffa809;
$font-stack: Montserrat,'Helvetica','sans-serif';
$bg1: #f7f7f7;
$bg2: #fff;
$bgdark: black;
$contactdark: #252934;
$text-color: #444;


%container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;    
    width:70%;
    margin-top:30px;
    @include tablet-up{
        width:80%;
    }
    @include for-phone-only{
        width:90%;
    }
}

%wrapper{
    display:flex;
    flex-direction:row-reverse;
    justify-content: left;
    @include tablet-up{
      flex-direction:column;        
    }
    @include for-phone-only{
  
    }
}

%content{
    font-weight:300;
    font-size:1rem;
    width:100%;
    max-width:650px;
    p{
        margin-top:0;
        margin-bottom:25px;
    }
}