$primary: #02769d;
$secondary: #059acc;
$tertiary: #ffa809;
$quad: blue;
$font-stack: 'Helvetica','sans-serif';


%container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    width:70%;
    margin-top:30px;
    @include tablet{
        width:80%;
    }
    @include mobile{
        width:90%;
    }

    // display:flex;
    // justify-content:center; 
    // padding: 100px 170px;
    // flex-direction: column;
    // @include tablet{
    //     padding: 50px 25px;
    // }
    // @include mobile{
        
    // }
}

%wrapper{
    display:flex;
    flex-direction:row-reverse;
    justify-content: left;
    @include tablet{
      flex-direction:column;        
    }
    @include mobile{
  
    }
}

%content{
    font-weight:300;
    font-size:1rem;
    width:100%;
    max-width:650px;
    p{
        margin-top:0;
        margin-bottom:25px;
    }
}