@import '../../styles/media-queries';
@import '../../styles/global';

.navbar{   
    background-color:black;
    position: sticky;
    top: 0;
    left:0;
    z-index: 999;
    //position:absolute;
    width:100%;
}

.navbar-container{    
        display:flex;
        align-items:center;
        margin-right:auto;
        margin-left:auto;
        max-width:1700px;
        justify-content: flex-end;
        padding: 10px 10%;       
}

.navbar-logo{       
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right:auto;
    
}

.menu-icon{
    display: block;
    // position: absolute;
    // top: 0;
    // right: 0;
    // transform: translate(-100%, 70%);
    font-size: 1.8rem;
    cursor: pointer;    
    @include tablet-up{
        display: none;
    }
}

.nav-menu{
    display:flex;
    flex-direction: column; 
    position: absolute;
    top: 55px;
    right: -100%;
    @include tablet-up{
        display: flex;
        text-align: center;
        top:0;
        right:0;
        flex-direction:row;
        position:relative;
    }
}
.nav-menu.active {
    background: black;
    right: 0;
    //left:0;
    z-index: 1;
    width:50vw;
}

.nav-item{
    height: 80px;
}

.nav-links{
    color: white;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    &:hover{
        color:$tertiary;            
        border-radius: 0;
    }
    @include tablet-up{        
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        height: 100%;
        font-size:1.2rem;
        &:hover{
            color:$tertiary
        }
    }
}

.fa-bars {
    color: #fff;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
  }