@import '../../styles/media-queries';
@import '../../styles/global';


.project-section{
  background-color:$bg1;
}
.project-container{
  @extend %container;  
  margin-bottom:0px;
}

.project-content{
  @extend %content
}

.projects-grid{
  display:grid;
  gap:15px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  margin-bottom:20px;
}

