@import '../../styles/media-queries';
@import '../../styles/global';

.project-container{
  @extend %container;  
}


.project-content{
  @extend %content
}

.projects-grid{
  display:grid;
  gap:15px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr))
}

