@import '../../styles/media-queries';
@import '../../styles/global';

.image-artprojectitem{
    max-width:600px;
    margin-bottom:50px;
  }
  
  .image-artprojectitem-name{
    margin-bottom:10px;
  } 

  .image-artproject-animate{
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
  .image-artproject-inner{
    height:100%;
    padding: 2rem 1.75rem;
    border-radius: 4px;
    background-color: $bg2;
    display:flex;    
    flex-direction:column;  
  }
  
  .image-artproject-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
  }
  
  .image-artproject-tech{
    display:flex; 
    flex-direction:row; 
    flex-wrap:wrap;
    margin-top:10px;
    li{
      margin-right:20px;
    };
  }
  
  .image-artproject-icon{
    font-size:2rem
  }
  
  .image-artproject-title{
    margin-bottom:10px;
    font-size:1.375rem;  
  }  

  .image-artproject-used{
    //display:inline-block;
    margin: 3px 3px 3px 0;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: $primary;
    border: 1px solid $primary;
    background: 0 0;
  }
  .image-artproject-links{
    display:flex;
    align-items: flex-end;
  }
  

